html {
  font-size: 20px;
  line-height: 1.1;
}
body {
  overflow-y: scroll;
  padding-top: 50px;
}

.header {
  background-color: #ccc;
  padding: 0;
  position: fixed;
}

.header span {
  width: 2.2em;
  padding: 0em .45em;
  vertical-align: middle;
  background: transparent;
  width: 2em;
  font-size: 1.5em;
  color: black;
  text-align: center;
}

.header span:nth-child(n+2) {
  float: right;
}

#body_leftblock {
  position: fixed;
  height: 100vh;
  z-index: 1080;
  background-color: rgba(0,215,215,.7);
  transform: translateX(-100%);
  transition: 1.5s;
  top:50px;
  left: 0;
}
.menu_active{
  transform: translateX(0%) !important;
}

.carousel-inner-fix {
  height: 35vh;
}

.wrap-none {
  flex-wrap: nowrap;
}

.pd_card {
  margin: 2%;
  width: 45%;
  display: inline-block;
}