html {
  font-size: 20px;
  letter-spacing: .1rem;
  line-height: 1.1;
}
body {
  overflow-y: scroll;
  padding-top: 50px;
}



.carousel-inner-fix {
  height: 35vh;
}

.wrap-none {
  flex-wrap: nowrap;
}

.pd_card {
  margin: 2%;
  width: 45%;
  display: inline-block;
}